click==7.1.2
dnspython==2.1.0
email-validator==1.1.2
Flask==1.1.2
flask-mongoengine==1.0.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
greenlet==1.0.0
idna==3.1
itsdangerous==1.1.0
Jinja2==2.11.3
linkedin-jobs-scraper==1.8.0
MarkupSafe==1.1.1
mongoengine==0.23.0
pymongo==3.11.3
PyMySQL==1.0.2
python-dotenv==0.17.0
selenium==3.141.0
six==1.15.0
SQLAlchemy==1.4.7
urllib3==1.26.4
websocket-client==0.58.0
Werkzeug==1.0.1
WTForms==2.3.3
