* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    position: relative;
    margin:0px;
}

header {
    text-align: center;
}

li {
    display: inline;
    padding: 5px;
}

hr {
    width: 100%;
    height:4px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkblue;
    border: 0 none;
}

.top-container {
    background: #ccc;
    padding:5px;
    border-bottom:2px solid #0f0f0f;
}
.bottom-container {
    background: #333;
    padding:5px;
    border-top:2px solid #0f0f0f;
    /* position:absolute; */
    bottom:0;
}

.container-term {
    width:80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
footer {
    text-align: center;
    height: 50px;
    color: white;
    padding: 5px;
    margin-top: 10px;
    bottom: 0px;
}

/*  */
  ::selection{
    color: #fff;
    background: #664AFF;
  }
  
  .wrapper{
    max-width: 450px;
    margin: 150px auto;
  }
  
  .wrapper .search-input{
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
  }
  
  .search-input input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }
  
  .search-input.active input{
    border-radius: 5px 5px 0 0;
  }
  
  .search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
  }
  
  .search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }

  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
  }

  .search-input.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background: #efefef;
  }

  .search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
  }

  
  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
  }
  
  .search-input.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background: #efefef;
  }
  
  .search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
  }
.search-input.iconL {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 55px;
        width: 55px;
        text-align: center;
        line-height: 55px;
        font-size: 20px;
        color: #644bff;
        cursor: pointer;
}

    table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}